#brandlabel{
    height:40px;
}

.alert{
    width:78%;
    top:88px;
    left:227px;

}

.alert-message{
    padding-left:20px;
}

.alert-message{
    width:-webkit-fill-available;
}

.text-muted{
    --bs-text-opacity: 1;
    color: #ff0000!important;
}

.btn-success{
    color:#FFFFFF;
    background-color: #00b359;
    border-color: #00b359;
}

.btn-secondary{
    color:#FFFFFF;
    background-color:#159d9d;
    border-color:#159d9d;
}

.btn-secondary:hover{
    color:#FFFFFF;
    background-color: #0f7070;
    border-color: #0f7070;
}

.btn-outline-secondary{
    width:55px;
    height:26px;
    line-height:0.75;
}

.btn-outline-light{
    background-color:#f2f2f2;
    color:black;
    height:80px;
}


#btn-remove-student{
    width:81px;
}

table {
    counter-reset: tableCount;
}

.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

tr:nth-child(even) {
  background-color:#d2f9ed;
}

tr:nth-child(odd) {
  background-color:#e9fcf6;
}

#header{
    background-color:white;
}

/* register.html */
main
{
    overflow-x: auto;
    text-align: center;
}

main .form-control{
    display: inline-block;
    width: auto;
}

.p-5 {
    padding: 8rem!important;
}

.signin {
  background-color: white;
  text-align: center;
}

.form-control.error{
    border:2px solid #e74c3c;
}

.cole-md-6{
    width:556px;
    height:70px;
}


#register_form{
    padding-bottom:10px;
    border-radius:5px;
}

/* login.html */
#signin_form{
    padding-bottom:10px;
    border-radius:5px;
}


/* add-student.html */


#label-add-student-name{
    margin-left:9%;
}

#add-student-name{
    width:50%;
    margin-left:36%;
}

#label-add-student-dob{
    margin-right:60%;
}

#add-student-dob{
    margin-right:52%;
}

#label-add-student-fname{
    margin-left:7%;
}

#add-student-fname{
    width:50%;
    margin-left:36%;
}

#label-add-student-fnumber{
    margin-right:45%;
}

#add-student-fnumber{
    margin-right:21%;
    width:60%;
}

#label-add-student-femail{
    margin-right:47.5%;
}

#add-student-femail{
    width:50%;
    margin-right:7.75%;
}

#label-add-student-gender{
    margin-left:-36.5%;
}

#label-add-student-address{
    margin-right:52%;
}

#add-student-address{
    width:55%;
    margin-right:2.7%;
}

#label-add-student-city{
    margin-right:8%;
}

#add-student-city{
    width:50%;
    margin-left:36%;
}

#label-add-student-state{
    margin-right:72%;
}

#add-student-state{
    width: 100%;
}

#label-add-student-postcode{
    margin-right:37%;
}

#add-student-postcode{
    width:68%;
    margin-right: 15%;
}



/* detail_student */
#detail-col4{
    flex: 0 0 auto;
    width: 99%;
}

#detail-col6{
    flex: 0 0 auto;
    width: 96%;
}

#detail-col12{
    flex: 0 0 auto;
    width: 100%;
}

#edit-student-detail{
    position:absolute;
    top:16.5%;
    left:75%;
}



/* add-class.html */

#add-class-div{
    margin-left :0px;

}

#add-class-lage{
    width: 66px;
}

#add-class-hage{
    width: 66px;
}


/* take-attendance.html */
#label-take-attendance-date{
    margin-left:19%;
}

#take-attendance-date{
    margin-right:20%;
}


/* detail-class.html */
#detail-class-del{
    position:absolute;
    left: 71.5%;
    top:20%;
}

#detail-class-rem-student{
    position:absolute;
    left:63.8%;
    top:20%;
}

#detail-class-back{
    position:absolute;
    right: 74.5%;
    top:20%;
}

#detail-class-attendance{
    position:relative;
    left: 0%;
}

#detail-class-add{
    position:absolute;
    left:69.2%;
    top:24.5%;
}

#detail-class-export{
    position:absolute;
    left: 75.4%;
    top:24.5%;
}


/* detail-attendance.html */

#detail-attendance-class-back{
    position:relative;
}



/* registrar.html */
#registrar-export{
    position: relative;
    left:40%;
}

#registrar-add-student{
    position: relative;
    left:40%;
}

#registrar-search{
    float:left;
    right:38.5%;
}

#registrar-search-btn{
    position:relative;
    right:38.8%;
    width:39px;
    height:38.49px;
}
