#brandlabel{
    height:40px;
}

.text-muted{
    --bs-text-opacity: 1;
    color: #ff0000!important;
}

/* register.html */
main
{
    overflow-x: auto;
    text-align: center;
}

main .form-control{
    display: inline-block;
    width: auto;
}

.p-5 {
    padding: 7rem!important;
}

.signin {
  background-color: white;
  text-align: center;
}

.form-control.error{
    border:2px solid #e74c3c;
}

#register_form{
    padding-bottom:10px;
    border-radius:5px;
}

/* login.html */
#signin_form{
    padding-bottom:10px;
    border-radius:5px;
}