#brandlabel{
    height:40px;
}

/* register.html */
main
{
    overflow-x: auto;
    text-align: center;
}

main .form-control
{
    display: inline-block;
    width: auto;
}

.p-5 {
    padding: 7rem!important;
}

.signin {
  background-color: white;
  text-align: center;
}

#register_form{
    padding-top:10px;
    padding-bottom:10px;
}

#register{
    padding-top:10px;
{