{% extends "layout.html" %}

{% block main %}

        <h1>Classes</h1>
        <hr>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-secondary" href="/add_class" role="button">Add Class</a>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
                  <thead>
                      <tr>
                          {% for header in headers %}
                          <th id="header"> {{ header }} </th>
                          {% endfor %}
                      </tr>
                  </thead>
                  <tbody>
                          {% for class in classes %}
                          <tr>
                              <td class="counterCell"></td>
                              <td><a href="/detail_class/{{class.id}}"> {{class.name}} </a></td>
                              <td> {{ class.lowest_age }} - {{ class.highest_age }} </td>
                              <td> {{ class.student_count }} </td>
                          </tr>
                          {% endfor %}
                  </body>

          </table>
        </div>





{% endblock %}