{% extends "layout.html" %}

{%block sidebar%} {{teacher.name}}{% endblock sidebar %}

{% block main %}

        <h1>{{classes.name}}</h1>
        <h5> Age Group: {{classes.lowest_age}} - {{classes.highest_age}} </h5>
        <a class="btn btn-danger" id="detail-class-del" href="/delete-class/{{classes.id}}" type="button">Delete Class</a>
        {% if classes.student_count != 0 %}
        <a class="btn btn-danger" id="detail-class-rem-student" href="/remove-student-class/{{classes.id}}" type="button">Remove Student</a>
        {% endif %}
        <a class="btn btn-danger" id="detail-class-back" href="/class" type="button">Back</a>
        <hr>
        <div class="d-grid gap-2 d-md-block">
          {% if classes.student_count != 0 %}
          <a class="btn btn-success" id="detail-class-attendance" href="/take-attendance/{{classes.id}}" role="button">Take Attendance</a>
          {% endif %}
          <a class="btn btn-secondary" id="detail-class-add" href="/add_student_class/{{classes.id}}" role="button">Add Student</a>
        </div>

        {% if classes.student_count != 0 %}
        <div class="table-responsive">
          <table class="table table-hover">
                  <thead>
                          <tr>
                                  {% for header in headers %}
                                  <th id="header"> {{ header }} </th>
                                  {% endfor %}
                          </tr>
                  </thead>
                  <tbody>
                  {% for student in students %}
                  <tr>
                          <td class="counterCell"></td>
                          <td><a href="/detail-class-student/{{student.id}}">{{student.name}}</a></td>
                          <td> {{student.age }} </td>
                          {% if student.parent == "" %}
                            <td> {{student.parent2 }}</td>
                            <td> {{student.number2 }}</td>
                          {% else %}
                            <td> {{student.parent}} </td>
                            <td> {{student.number}} </td>
                          {% endif %}
                          <td><a href="/detail_attendance/{{student.id}}">{{student.attend_count}} out of {{classes.attendance_count}} days</a></td>
                  </tr>
                  {% endfor %}
                  </tbody>

          </table>
        </div>
        {% endif %}
{% endblock %}
