{% extends "layout.html" %}

{% block main %}
        <h1>{{student.name}}</h1>
        <hr>
        <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-danger" id="detail-class-back" href="/detail_class/{{student.class_id}}" type="button">Back</a>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
                  <thead>
                          <tr>
                                  {% for header in headers %}
                                  <th id="header"> {{ header }} </th>
                                  {% endfor %}
                          </tr>
                  </thead>
                  <tbody>
                    {% if student.attend_count == 0 %}
                      {% for date in new_student %}
                        <tr>
                            <td class="counterCell"></td>
                            <td>{{date.date}}</td>
                            <td>Absent</td>
                        </tr>
                      {% endfor %}

                    {% else %}
                      {% for attendance in attendances %}
                        <tr>
                            <td class="counterCell"></td>
                            <td>{{attendance.date}}</td>
                            <td> {{attendance.presence }} </td>

                        </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>

          </table>
        </div>
{% endblock %}
