{% extends "layout.html" %}

{%block sidebar%} {{teacher.name}} {% endblock sidebar %}

{% block main %}

    {% for student in students %}
        <h1>{{student.name}}</h1>
        <a class="btn btn-info" id="edit-student-detail" href="/detail-class-edit-student/{{student.id}}" type="button">Edit</a>
        <hr>
            <div class="col-4" id="detail-col4">
                <b>Student's Name:</b> {{student.name}}
            </div>
            <div class="col-4" id="detail-col4">
                <b>Date of Birth:</b> {{student.birth}}
            </div>
            <div class="col-4" id="detail-col4">
                <b>Age:</b> {{student.age}}
            </div>
            <div class="col-4" id="detail-col4">
                 {% if student.class_id == 0 %}
                     <b>Class:</b> Unassigned
                 {% else %}
                    {% for class in classes %}
                        {% if class.id == student.class_id %}
                            <b>Class:</b> {{class.name}}
                        {% endif %}
                    {% endfor %}
                 {% endif %}
            </div>
            <div class="col-4" id="detail-col4">
                 <b>Gender:</b> {{student.gender}}
            </div>
            {% if student.parent == "" %}
                <div class="col-4" id="detail-col4">
                    <b>Mother's Name:</b> {{student.parent2}}
                </div>
                <div class="col-4" id="detail-col4">
                    <b>Mother's Contact Number:</b> {{student.number2}}
                </div>
                {% if student.email2 != "" %}
                    <div class="col-4" id="detail-col4">
                        <b>Mother's Email Address:</b> {{student.email2}}
                    </div>
                {% endif %}
            {% elif student.parent2 == "" %}
                <div class="col-4" id="detail-col4">
                    <b>Father's Name:</b> {{student.parent}}
                </div>
                <div class="col-4" id="detail-col4">
                    <b>Father's Contact Number:</b> {{student.number}}
                </div>
                {% if student.email != "" %}
                    <div class="col-4" id="detail-col4">
                        <b>Father's Email Address:</b> {{student.email}}
                    </div>
                {% endif %}
            {% else %}
                <div class="col-4" id="detail-col4">
                    <b>Father's Name:</b> {{student.parent}}
                </div>
                <div class="col-4" id="detail-col4">
                    <b>Father's Contact Number:</b> {{student.number}}
                </div>
                {% if student.email != "" %}
                    <div class="col-4" id="detail-col4">
                        <b>Father's Email Address:</b> {{student.email}}
                    </div>
                {% endif %}
                <div class="col-4" id="detail-col4">
                    <b>Mother's Name:</b> {{student.parent2}}
                </div>
                <div class="col-4" id="detail-col4">
                    <b>Mother's Contact Number:</b> {{student.number2}}
                </div>
                {% if student.email2 != "" %}
                    <div class="col-4" id="detail-col4">
                        <b>Mother's Email Address:</b> {{student.email2}}
                    </div>
                {% endif %}
            {% endif %}
            <div class="col-6" id="detail-col6">
                <b>Address:</b> {{student.address}},
            </div>
            <div class="col-4" id="detail-col4">
                {{student.city}},
            </div>
            <div class="col-4" id="detail-col4">
                {{student.state}},
            </div>
            <div class="col-4" id="detail-col4">
                {{student.postcode}}.
            </div>
            <hr>
            <div class="col-12" id="detail-col12">
                <a href="/detail_class/{{student.class_id}}" class="btn btn-primary">Back</a>
            </div>
    {% endfor %}



{% endblock %}
