{% extends "layout.html" %}

{%block sidebar%} {{teacher.name}}{% endblock sidebar %}

{% block main %}

<h1>Welcome to Attended</h1>
<h5>Tracking the Unattended</h5>
<hr>
<h2>Quick Access</h2>
<div class="d-grid gap-2">
  <a type="button" class="btn btn-outline-light btn-lg" href="/add_student"><h4>Enroll A Student</h4><h7>Recording students details for further use.</h7></a>
  <a type="button" class="btn btn-outline-light btn-lg" href="/class"><h4>Classes</h4><h7>All the classes registered</h7></a>
</div>
{% endblock %}