{% extends "layout.html" %}

{%block sidebar%}{% endblock sidebar %}

{% block main %}

            {% for field, errors in form.errors.items() %}
                <small class="form-text text-muted ">
                    {{ ', '.join(errors) }}
                </small>
            {% endfor %}

            <h1>Sign In</h1>
            <p>Please sign in to continue.</p>
            <hr>
            <form name="signin-form" action="/login" method="post" >
                {{ form.csrf_token() }}
                <div class="form-group" id="signin_form">
                   {{ form.username(class="form-control", placeholder="Username") }}
                </div>
                <div class="form-group" id="signin_form">
                    <input id="signin-password" autocomplete="off" class="form-control" name="password" placeholder="Password" type="password" >
                </div>
                <button class="btn btn-primary" type="submit">Sign In</button>
            </form>

            <hr>

            <div class="container signin">
            <p> Don't have an account? <a href="/register">Register</a>.</p>
            </div>


{% endblock %}