{% extends "layout.html" %}

{% block main %}

            <h1>Sign In</h1>
            <p>Please sign in to continue.</p>
            <hr>
            <form name="signin-form" action="/login" method="post" onsubmit="return signin_empty();">
                <div class="form-group" id="signin_form">
                    <input id="signin-username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group" id="signin_form">
                    <input id="signin-password" autocomplete="off" class="form-control" name="password" placeholder="Password" type="password" >
                </div>
                <button class="btn btn-primary" type="submit">Sign In</button>
            </form>

            <hr>

            <div>
            <p> Forgot Password, <a href="#">click here</a>.</p>
            </div>
            <div class="container signin">
            <p> Don't have an account? <a href="/register">Register</a>.</p>
            </div>


{% endblock %}