{% extends "layout.html" %}

{% block main %}

        <h1>Student Registrar</h1>
        <hr>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-secondary" href="/add_student" role="button">Add Student</a>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
                  <thead>
                          <tr>
                                  {% for header in headers %}
                                  <th> {{ header }} </th>
                                  {% endfor %}
                          </tr>
                  </thead>
                  <tbody>
                          {% for student in students %}
                          <tr>
                                  <td><a href="/detail_student/{{student.id}}"> {{student.name}} </a></td>
                                  {% if student.class_id == None %}
                                  <td>Unassigned</td>
                                  {% else %}
                                  <td>{{student.class_id}}</td>
                                  {% endif %}
                                  <td> {{student.age }} </td>
                                  <td> {{student.parent}} </td>
                                  <td> {{student.number}} </td>
                          </tr>
                          {% endfor %}
                  </tbody>
          </table>
        </div>





















{% endblock %}