{% extends "layout.html" %}

{%block sidebar%} {{teacher.name}}{% endblock sidebar %}

{% block main %}

        <h1>Student Registrar</h1>
        <hr>

          <div class="col-12">
            <form action="/registrar" method="post">
                <input class="form-control" id="registrar-search" name="tag" placeholder="Student's Name">
                <button type="submit" class="btn btn-outline-dark" id="registrar-search-btn" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></button>
            </form>
            <a class="btn btn-secondary" href="/add_student" id="registrar-add-student" role="button">Enroll Student</a>
            <button type="button" class="btn btn-secondary" id="registrar-export"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path><path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path></svg></button>
          </div>




        <div class="table-responsive">
          <table class="table table-hover">
                  <thead>
                          <tr>
                                  {% for header in headers %}
                                  <th id="header"> {{ header }} </th>
                                  {% endfor %}
                          </tr>
                  </thead>
                  {% if students != "None" %}
                  <tbody>
                          {% for student in students %}
                          <tr>
                                <td class="counterCell"></td>
                                <td><a href="/detail_student/{{student.id}}"> {{student.name}} </a></td>
                                  {% if student.class_id == 0 %}
                                  <td>Unassigned</td>
                                  {% else %}
                                      {% for class in classes %}
                                          {% if class.id == student.class_id %}
                                              <td>{{class.name}}</td>
                                           {% endif %}
                                      {% endfor %}
                                  {% endif %}
                                  <td> {{student.age }} </td>
                                  {% if student.parent == "" %}
                                    <td> {{student.parent2 }}</td>
                                    <td> {{student.number2 }}</td>
                                  {% else %}
                                    <td> {{student.parent}} </td>
                                    <td> {{student.number}} </td>
                                  {% endif %}
                          </tr>
                          {% endfor %}
                  </tbody>
                  {% endif %}
          </table>
        </div>
        <hr>




















{% endblock %}