{% extends "layout.html" %}

{% block main %}

            {% for field, errors in form.errors.items() %}
                <small class="form-text text-muted ">
                    {{ ', '.join(errors) }}
                </small>
            {% endfor %}

            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <form name="register-form" action="/register" method="post">
                {{ form.csrf_token() }}
                <div class="form-group" id="register_form">
                    {{ form.name(class="form-control", placeholder="Name", autocomplete="off") }}
                </div>
                <div class="form-group" id="register_form">
                    {{ form.email(class="form-control", placeholder="Email Address", autocomplete="off", type="email") }}
                </div>
                <div class="form-group" id="register_form">
                    {{ form.username(class="form-control", placeholder="Username", autocomplete="off") }}
                </div>

                <div class="form-group" id="register_form">
                    {{ form.password(class="form-control", placeholder="Password", autocomplete="off") }}
                </div>
                <div class="form-group" id="register_form">
                    {{ form.confirm(class="form-control", placeholder="Confirm Password", autocomplete="off") }}
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>

            <hr>

            <div class="container signin">
            <p>Already have an account? <a href="/login">Sign in</a>.</p>
            </div>


{% endblock %}