{% extends "layout.html" %}

{%block sidebar%} {{teacher.name}} {% endblock sidebar %}

{% block main %}

    <h1>Remove Student's from {{classes.name}}</h1>
    <hr>
    <form action="/remove-student-class/{{classes.id}}" method="post">
        <div class="table-responsive">
          <table class="table table-hover">
                <thead>
                        <tr>
                                {% for header in headers %}
                                    {% if header == "#" %}
                                      <th id="header" style="width:17%">{{header}}</th>
                                    {% else %}
                                      <th id="header"> {{ header }} </th>
                                    {% endif %}
                                {% endfor %}
                        </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                             <td>
                                 <input type="checkbox" class="btn-check" name="btncheck{{student.id}}" value="Remove" id="{{student.id}}" autocomplete="off">
                                 <label class="btn btn-outline-secondary" for="{{student.id}}" id="btn-remove-student">Remove</label><br>
                             </td>
                             <td>{{student.name}}</td>
                        </tr>
                        {% endfor %}

                </tbody>
          </table>

        </div>

        <div class="col-12" id="detail-col12">
                <a class="btn btn-danger" href="/detail_class/{{classes.id}}" >Back</a>
                <button class="btn btn-primary" type="submit">Remove Student's</button>
        </div>
    </form>
{% endblock %}



